.pricing {
	background-color: #1f2022;
	border-top: 10px solid #f46811;
	border-bottom: 10px solid #f46811;
}

.pricing-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.pricing-content h2 {
	margin: 1em 0 0.5em 0;
	font-size: 3rem;
}

.pricing-content p {
	margin: 0 clamp(5px, 10vw, 40vw);
	font-size: 1rem;
}

/* TOGGLE ------------------------ TOGGLE  */ 
.toggleCheckbox {
	display: none;
}

.toggleContainer {
	margin: 2em 1em;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	width: fit-content;
	border: 2px solid #f46811;
	border-radius: 25px;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border: 5px solid #f46811;
	border-radius: 25px;
	background: #f46811;
	transition: all 0.3s;
}

.toggleContainer div {
	padding: 1em 1em;
	text-align: center;
	z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: #5c5c5c;
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: #fff;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: #fff;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: #5c5c5c;
	transition: color 0.3s;
}
