*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: black;
	font-family: 'Comfortaa', sans-serif;
	scroll-behavior: smooth;
}

.wrapper {
	margin: 0 auto;
	padding: 0 6em;
	width: 100%;
	max-width: 1400px;
}
