footer {
	padding: 3em 0;
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255);
	background-color: #f46811;
}

.footer-title {
	padding: 0 1em 1em 1em;
	text-align: center;
	font-size: 2.2rem;
}

.footer-containers {
    width: 100%;
	display: flex;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1 1 0;
	padding: 1em 2em;

    
	border-left: 1px solid #ffa36b;
	border-right: 1px solid #ffa36b;
}

.footer-box h3 {
	font-size: 1.4rem;
    padding: 1em 0 1em 0;
    margin-bottom: 0.4em;
}

.footer-box p, .footer-box a {
    color: #fff;
    margin-bottom: 0.6em;
}
.footer-box a:hover {
    color: #ff9858;
}

.footer-box-left {
    min-width: 320px;
	display: grid;
	gap: 0.6em;
	grid-template-columns: repeat(2, 1fr) / auto-flow;
}

.footer-box-left h3 {
	grid-column: 1/3;
}

.footer-box-social {
    grid-column: 1/3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.footer-box-social a{
    padding: 0 1em;
}

.footer-box-mid {
    min-width: 160px;
	display: flex;
    flex-direction: column;
}

.footer-box-right {
    min-width: 300px;
}

.small-footer {
	padding: 0.8em;
	text-align: center;
	color: #333;
	background-color: #fff;
}

.small-footer a {
	font-weight: bold;
	text-decoration: underline;
	color: #f46811;
}


